/********************************************************

TABLE OF CONTENTS

********************************************************/

/******************************************************

1. GENERAL STYLE ELEMENTS

*******************************************************/

/* 1.1. Base */

* {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}